<div class="post comment">
  <div class="post-card">
    <div class="post-header">
      <h3 class="post-title">{{this.commentAuthor}}</h3>
      <p class="post-details">
        Commented on :
        {{this.createdAt}}
      </p>
    </div>
    <div class="post-body">
      <p class="post-content">{{this.commentContent}}</p>
    </div>

  </div>
</div>