<div class="post comment">
  <div class="post-card">
    <div class="post-header">
      <h4 class="comment-title">{{this.commentAuthor}}</h4>
      <p class="post-details">
        Commented on :
        {{format_date this.createdAt}}
      </p>
    </div>
    <div class="post-body">
      <p class="post-content">{{this.commentContent}}</p>
    </div>

  </div>
</div>