<div class="post">
  <div class="post-card">
    <div class="post-header">
      <h3 class="post-title">{{this.title}}</h3>
      <p class="post-details">
        Posted by :
        {{this.author}}
        on
        {{format_date this.createdAt}}
      </p>
    </div>
    <div class="post-body">
      <p class="post-content">{{this.content}}</p>
    </div>
  </div>
</div>