<div class="mt-5 d-flex flex-column justify-content-center align-items-center">
  {{> userPost-details post}}
  <div class="text-center col-2">
    <div class="btnContainer">
      <button
        id="updateBtn"
        type="submit"
        class="btn mt-3 updateBtn"
      >Update</button>
      <button
        id="deleteBtn"
        type="submit"
        class="btn mt-3 deleteBtn"
      >Delete</button>
    </div>
    <p id="alert" class="pt-3 red"></p>
  </div>
</div>

<script src="/js/editPost.js"></script>