<form id="signupForm" class="p-5 d-flex flex-column align-items-center">
  <div class="col-2">

  </div>
  <div class="col-2">
    <input
      type="username"
      class="form-control"
      id="username"
      placeholder="Enter a Username"
    />
    <label for="username" class="ps-2 form-label">
      You can use letters and numbers ( 3-20 characters )
    </label>
  </div>
  <div class="mb-1 col-2">

    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Enter a Password"
    />
    <label for="password" class="ps-2 form-label">
      Use 8 or more characters
    </label>
  </div>
  <button id="signupBtn" type="submit" class="btn btn-info mt-3">Sign Up</button>
  <p id="alert" style="color: red;"></p>
</form>

<script src="/js/signup.js"></script>